//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.

.style-none{
	list-style: none;
}

.pull-left{
	float: left;
}

.border{
	border-radius: 80%;
}

.inline{
	display: inline;
}