.container, body, html{
	width: 100%;
  padding-right: 0px;
  padding-left:0px;
}

img.logo {
  position: relative;
  bottom: 13px;
  width: 50%
 }

 /*Navbar vertical*/


/*Mover slider nav*/
.sidebar-nav {
  position: relative;
  bottom: 20px;
  right: 125px;
 }

aside{
	position: fixed;
	top: 14%;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  }

.nav-scroll {
  width: 5%;
  background-color: rgba(47, 0, 255, 0.05);
  top: 52px;
  position: fixed;
  left: 2px;
 }

 /*Horizontal*/

 .horizontal{
 	background-color: red;
 	width: 100%;

 }